<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body ng-app="HIMSapp">

    <div ng-controller="AppCtrl" class="tabsdemoDynamicHeight">
        <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="Initial Registration">
                    <md-content class="md-padding">
                        <form name="catalystRepForm">
                            <div id="userID" class="form-inline">
                                <div class="form-group">
                                  <div class="row">
                                      <md-input-container flex-gt-sm>
                                          <label>Issued Phone Number</label>
                                          <input ng-model="criticalUser.issuedPhone" class="form-control">
                                      </md-input-container>
                                      <button ng-click="registerClient();"> Register </button>
                                  </div>
                                    <div class="row">
                                        <md-input-container flex-gt-sm>
                                            <label>First name</label>
                                            <input ng-model="criticalUser.firstName" class="form-control">
                                        </md-input-container>
                                        <md-input-container flex-gt-sm>
                                            <label>Last Name</label>
                                            <input ng-model="criticalUser.lastName" class="form-control">
                                        </md-input-container>
                                    </div>
                                    <div class="row">
                                        <md-input-container flex-gt-sm>
                                            <label>DOB:</label>
                                            <input ng-model="criticalUser.DOB" class="form-control">
                                        </md-input-container>
                                        <md-input-container flex-gt-sm>
                                            <label>Gender</label>
                                            <input ng-model="criticalUser.gender" class="form-control">
                                        </md-input-container>
                                        <md-input-container flex-gt-sm>
                                            <label>SSN:</label>
                                            <input ng-model="criticalUser.SSN" class="form-control">
                                        </md-input-container>
                                    </div>
                                    <div class="row">
                                        <md-checkbox ng-model="criticalUser.ID" aria-label="Checkbox 1" ng-change="change()" class="md-warn md-align-top-left" flex>
                                            YES I have a valid ID!<br/>
                                        </md-checkbox>
                                    </div>
                                    <div class="row" id="idInfoRow" hidden>
                                        <md-input-container>
                                            <label>ID Type</label>
                                            <md-select ng-model="criticalUser.IDtype">
                                                <md-option><em>State ID</em></md-option>
                                                <md-option><em>Drivers License</em></md-option>
                                                <md-option><em>Passport</em></md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>ID Number:</label>
                                            <input ng-model="criticalUser.IDnum" class="form-control">
                                        </md-input-container>
                                    </div>

                                    <div class="row">
                                        <md-checkbox ng-model="criticalUser.spouse" aria-label="Checkbox 1" ng-change="changecb2()" class="md-warn md-align-top-left" flex>
                                            YES I have a spouse/partner!<br/>
                                        </md-checkbox>
                                        <md-checkbox ng-model="criticalUser.children" aria-label="Checkbox 1" ng-change="changecb3()" class="md-warn md-align-top-left" flex>
                                            YES I have children!<br/>
                                        </md-checkbox>
                                    </div>
                                    <div class="row">
                                        <md-checkbox ng-model="criticalUser.veteran" aria-label="Checkbox 1" ng-change="changecb4()" class="md-warn md-align-top-left" flex>
                                            YES I am a veteran!<br/>
                                        </md-checkbox>
                                        <md-checkbox ng-model="criticalUser.lgbTolerant" aria-label="Checkbox 1" ng-change="changecb5()" class="md-warn md-align-top-left" flex>
                                            YES I am LGBT Friendly!<br/>
                                        </md-checkbox>
                                        <md-checkbox ng-model="criticalUser.sober" aria-label="Checkbox 1" ng-change="changecb6()" class="md-warn md-align-top-left" flex>
                                            YES I can pass a sobriety test!<br/>
                                        </md-checkbox>
                                    </div>
                                    <div class="row">
                                        <md-checkbox ng-model="criticalUser.hiv" aria-label="Checkbox 1" ng-change="changecb7()" class="md-warn md-align-top-left" flex>
                                            YES I am HIV positive<br/>
                                        </md-checkbox>
                                        <md-checkbox ng-model="criticalUser.sexOffend" aria-label="Checkbox 1" ng-change="changecb8()" class="md-warn md-align-top-left" flex>
                                            YES I am a convicted sex offender<br/>
                                        </md-checkbox>
                                    </div>
                                </div>
                            </div>
                            <button ng-Click="wolfFunction()">Click me!</button>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="Catalyst Representative">
                    <md-content class="md-padding">
                        <form name="catalystRepForm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="row">
                                        <md-input-container>
                                            <lable>Organization Name</label>
                                                <input ng-model="catalystRep.organizationName">
                                        </md-input-container>
                                        <md-input-container>
                                            <label>Organization Type</label>
                                            <md-select name="type" ng-model="catalystRep.organizationType" required>
                                                <md-option value="police">Police</md-option>
                                                <md-option value="swService">Social Work Service</md-option>
                                                <md-option value="schoolCouns">School Counselor</md-option>
                                        </md-input-container>
                                    </div>
                                    <div class="row">
                                      <label>Current Location</label><br>
                                        <md-input-container>
                                            <label>Address</label>
                                            <input ng-model="catalystRep.Address">
                                        </md-input-container>
                                    </div>
                                    <div class="row">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>City</label>
                                            <input ng-model="catalystRep.City">
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>State</label>
                                            <md-select ng-model="catalystRep.State">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Postal Code</label>
                                            <input name="postalCode" ng-model="catalystRep.postalCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                                            <div ng-messages="catalystRepForm.postalCode.$error" role="alert" multiple>
                                                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.</div>
                                                <div ng-message="md-maxlength" class="my-message">Don't use the long version silly...we don't need to be that specific...</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <br>
                                    <label>CatalystRep Information<label>
                                    <br>
                                    <div class="row">
                                      <md-input-container  flex-gt-sm>
                                        <label>First name</label>
                                    <input ng-model="catalystRep.firstName" class="form-control">
                                    </md-input-container>

                                    <md-input-container flex-gt-sm>
                                        <label>Last Name</label>
                                        <input ng-model="catalystRep.lastName" class="form-control">
                                    </md-input-container>

                                    <md-input-container flex-gt-sm>
                                        <label>Phone Number</label>
                                        <input ng-model="catalystRep.stakeholderPhonephone" class="form-control">
                                    </md-input-container>
                                </div>

                                <div class="row">
                                  <md-input-container>
                                      <label>Issued Phone#</label>
                                      <input ng-model="issuedPhone">
                                  </md-input-container>

                                  <md-input-container>
                                      <label>Enter date</label>
                                      <md-datepicker ng-model="catalystRep.submissionDate"></md-datepicker>
                                  </md-input-container>
                                  <md-input-container>
                                      <label>Total Beds Needed</label>
                                      <input ng-model="catalystRep.bedsNeed"></input>
                                  </md-input-container>
                                </div>
                                <div class="row">
                                  <md-input-container class="md-block">
                                      <label>Notes/Observations</label>
                                      <textarea ng-model="catalystRep.notes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                  </md-input-container>
                                </div>
                            </div>
                            </div>
                            <button ng-Click="catalystRepUpdate()">Click me!</button>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="Intake Sheet">
                    <md-content class="md-padding">
                        <form name="catalystRepForm">
                            <div id="userID" class="form-inline">
                                <div class="form-group">

                                  <div class="row" id="work">
                                    <md-input-container>
                                        <label>Service Center</label>
                                        <md-select name="type" ng-model="catalystRep.organizationType" required onchange="fetchServiceCenter()">
                                            <md-option value="0">12th And Park Shelter</md-option>
                                            <md-option value="1">Gateway 180</md-option>
                                            <md-option value="2">Loaves And Fishes Inc</md-option>
                                            <md-option value="3">Our Lady's Inn</md-option>
                                            <md-option value="4">Peter And Paul</md-option>
                                            <md-option value="5">Room at The Inn</md-option>
                                            <md-option value="6">Saint Patrick Center- Women's Night</md-option>
                                            <md-option value="7">Salvation Army Family Haven</md-option>
                                    </md-input-container>
                                    <md-input-container>
                                    </md-input-container>
                                    <button ng-click="admitClient();"> Admit </button>
                                  </div>

                                    <div class="row" id="work">
                                        <md-input-container flex-gt-sm>
                                            <label>Employer</label>
                                            <input ng-model="criticalUser.employer" class="form-control">
                                        </md-input-container>
                                        <md-input-container flex-gt-sm>
                                            <label>Employer Phone#</label>
                                            <input ng-model="criticalUser.employerPhone" class="form-control">
                                        </md-input-container>
                                        <md-input-container flex-gt-sm>
                                            <label>Supervisor</label>
                                            <input ng-model="criticalUser.manager" class="form-control">
                                        </md-input-container>
                                    </div>

                                    <div class="row" id="ice">
                                        <md-input-container flex-gt-sm>
                                            <label>Emergency Contact First Name</label>
                                            <input ng-model="criticalUser.emergencyContactFirst" class="form-control">
                                        </md-input-container>
                                        <md-input-container flex-gt-sm>
                                            <label>Emergency Contact Last Name</label>
                                            <input ng-model="criticalUser.emergencyContactLast" class="form-control">
                                        </md-input-container>
                                        <md-input-container flex-gt-sm>
                                            <label>Emergency Contact Phone#</label>
                                            <input ng-model="criticalUser.emergencyPhone" class="form-control">
                                        </md-input-container>
                                    </div>

                                    <div class="row" id="primaryMed">
                                        <md-input-container flex-gt-sm>
                                            <label>Primary Physician</label>
                                            <input ng-model="criticalUser.primaryDoctor" class="form-control">
                                        </md-input-container>
                                        <md-input-container flex-gt-sm>
                                            <label>Pharmacy:</label>
                                            <input ng-model="criticalUser.pharmacy" class="form-control">
                                        </md-input-container>
                                    </div>

                                    <div class="row" id="idInfoRow" hidden>
                                        <md-input-container>
                                            <label>ID Type</label>
                                            <md-select ng-model="criticalUser.IDtype">
                                                <md-option><em>State ID</em></md-option>
                                                <md-option><em>Drivers License</em></md-option>
                                                <md-option><em>Passport</em></md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>ID Number:</label>
                                            <input ng-model="criticalUser.IDnum" class="form-control">
                                        </md-input-container>
                                    </div>

                                    <div class="row" id="insurance">
                                      <md-input-container flex-gt-sm>
                                          <label>Medical Insurance Company:</label>
                                          <input ng-model="criticalUser.medInsCo" class="form-control">
                                      </md-input-container>
                                      <md-input-container flex-gt-sm>
                                          <label>Policy #</label>
                                          <input ng-model="criticalUser.medInsPol" class="form-control">
                                      </md-input-container>
                                    </div>

                                    <div class="row" id="extras">
                                      <md-input-container flex-gt-sm>
                                          <label>Medical visits </label>
                                          <input ng-model="criticalUser.medVisitsMonth" class="form-control">
                                      </md-input-container>
                                      <md-input-container flex-gt-sm>
                                          <label>Social Services Used last Month:</label>
                                          <input ng-model="criticalUser.serviceUseMonth" class="form-control">
                                      </md-input-container>
                                      <md-input-container flex-gt-sm>
                                          <label>Frequency of meals</label>
                                          <input ng-model="criticalUser.avgDailyMeals" class="form-control">
                                      </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <md-button class="btn1" ng-Click="registerClient()">Click me!</md-button>
                        </form>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

    <!-- Fixme: Is jQuery! needed? -->
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script>
        // Initialize the Firebase SDK
        var config = {
            apiKey: 'AIzaSyAlfkqy1BWgPqMaeWVG3khQDpjiSbDhhbs',
            authDomain: 'https://get-christie-a-home.firebaseapp.com',
            databaseURL: 'https://get-christie-a-home.firebaseio.com/'
        };
        firebase.initializeApp(config);
    </script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>

    <script src="js/main.js"></script>

</body>

</html>
